name: flappy_flutter
description: Minimal Flappy Bird clone using native Flutter only.
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true

